{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block body %}

<div class="container my-3">
    <h2>Update</h2>
    <form action = "/update/{{todo.Num}}" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ToDo</label>
        <input type="text" class="form-control" name="Title" value ="{{todo.Title}}" id="Title" aria-describedby="emailHelp">
        <div id="text" class="form-text">Add The Title For The Next Mission</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">ToDo describtion</label>
        <input type="text" class="form-control" name ="Description" value ="{{todo.Description}}" id="Description">
      </div>
      <button type="text" class="btn btn-primary">Update</button>
    </form>
{% endblock %}